*,
*::before,
*::after {
  box-sizing: border-box;
}

.a-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 1200px;
}

.nav-item {
  display: block;
  margin: 0 4px;
}
